Package: com.ps.emojilayout
Name: EmojiLayout
Depends: mobilesubstrate, firmware (>= 6.0)
Version: 1.0
Architecture: iphoneos-arm
Description: [Beta]
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
